body {
    margin: 0;
    overflow: hidden; /* Empêche les barres de défilement */
    background-color: rgb(0, 183, 255); /* Fond sombre */
}

canvas {
    display: block; /* Supprime l'espace sous le canvas */
} 