body {
    margin: 0;
    overflow: hidden; /* Empêche les barres de défilement */
    background-color: #4ecdff; /* Fond sombre */
}

canvas {
    display: block; /* Supprime l'espace sous le canvas */
} 