
body {
    max-width: 560px;
    margin: 0 auto; /* To center the content horizontally within the page */
    font-family: monospace;
    font-size: 16px;
}

table {
    min-width: 560px; /* La largeur minimale du tableau est de 420px */
    max-width: 560px; /* La largeur maximale du tableau, si vous souhaitez la limiter */
    border-collapse: collapse;
    margin: auto; /* Centrage vertical si nécessaire */
}

button {
    background-color: #ffb13deb;
    border: none;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    box-shadow: 0 0 20px #ff9900; /* Enhanced glow on hover */
}

table 

{
    border: 1px solid #ccc;
}

th, td {
    border: 2px solid #aaaa;
}

td img {
    display: block;
    margin: 0 auto;
}

.title-column,
.price-column,
.cap-column,
.change_24h-column,
.change_1h-column,
.change_7d-column,
.rate-column,
.market_cap-column {
    text-align: right;
    font-weight: "bold";
}

.bitcoin-quote {
    font-style: italic;
    font-size: 12.75px;
    color: #555;
    padding: 8px;
    margin-right: -8px;
    border-left: 5px solid #ff9900;
}

.love-quote {
    font-style: italic;
    font-size: 13.8px;
    margin-right: -8px;
    color: #555;
}

.title-panel {
    background-color: #f2f2f2;
    padding: 0px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.orange-a {
    font-size: 40px;
    color: orange; /* Set the color to orange */
}

.vhigh {
    color: #00b058;
}

.high {
    color: hsl(78, 100%, 36%);
}

.medium {
}

.low {
    color: #e47e0a;
}
.vlow {
    color: #ff0000;
}

@media screen and (max-width: 420px) {
    .table-container {
        overflow-x: auto; /* Rend le tableau défilable horizontalement sur des écrans plus petits */
    }
}