table {
    border: 1px solid #ccc;
}

th, td {
    border: 2px solid #aaaa;
}

td img {
    display: block;
    margin: 0 auto;
}

.price-column,
.cap-column,
.change_24h-column,
.change_1h-column,
.change_7d-column,
.market_cap-column {
    text-align: right;
}








