
table {
    border: 1px solid #ccc;
}

th, td {
    border: 2px solid #aaaa;
}

td img {
    display: block;
    margin: 0 auto;
}

.price-column,
.cap-column,
.change_24h-column,
.change_1h-column,
.change_7d-column,
.rate-column,
.market_cap-column {
    text-align: right;
    font-weight: bold;
}




.bitcoin-quote {
    font-style: italic;
    color: #555;
    padding: 5px;
    border-left: 5px solid #ff9900;
}

.bitcoin-section {
    background-color: #f2f2f2;
    padding: 0px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.orange-a {
    font-size: 40px;
    color: orange; /* Set the color to orange */
}



.vhigh {
    color: #00b058;
}
.high {
    color: hsl(78, 100%, 36%);
}
.medium {
}
.low {
    color: #e47e0a;
}
.vlow {
    color: #ff0000;
}