
body {
    max-width: 560px;
    margin: 0 auto; /* To center the content horizontally within the page */
    font-family: monospace;
    font-size: 16px;
}

table {
    min-width: 560px; /* La largeur minimale du tableau */
    max-width: 560px; /* La largeur maximale du tableau */
    border-collapse: collapse;
    margin: auto; /* Centrage vertical si nécessaire */
}

button {
    background-color: #ffb13deb;
    border: none;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    box-shadow: 0 0 20px #ff9900; /* Enhanced glow on hover */
}

table 
{
    border: 1px solid #ccc;
}

thead th {
    position: sticky;
    top: -2px;
    background-color: white; /* ou toute autre couleur de fond souhaitée */
    z-index: 10; /* pour s'assurer que l'en-tête reste au-dessus du contenu lors du défilement */
}

th, td {
    border: 2px solid #aaaa;
}

td img {
    display: block;
    margin: 0 auto;
}

.title-column,
.price-column,
.cap-column,
.change_24h-column,
.change_1h-column,
.change_7d-column,
.rate-column,
.market_cap-column,
.marketplace-column {
    text-align: right;
    font-weight: "bold";
}

.bitcoin-quote {
    font-style: italic;
    font-size: 12px;
    color: #555;
    padding: 8px;
    border-left: 5px solid #ff9900;
}

.love-quote {
    font-style: italic;
    font-size: 13px;
    color: #555;
}

.title-panel {
    background-color: #f2f2f2;
    padding: 0px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.orange-a {
    font-size: 40px;
    color: orange; /* Set the color to orange */
    transition: color 2s ease-in-out;

}

.vhigh {
    color: #00b058;
}

.high {
    color: hsl(78, 100%, 36%);
}
.medium {
}
.low {
    color: #e47e0a;
}
.vlow {
    color: #ff0000;
}


#myBtn {
    display: none; /* Bouton caché par défaut */
    position: fixed; /* Position fixée */
    bottom: 20px; /* Positionnement en bas de la page */
    right: 30px; /* Positionnement à droite */
    z-index: 99; /* S'assure qu'il est au-dessus d'autres éléments */
    border: none; /* Pas de bordure */
    outline: none; /* Pas de contour */
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent noir */
    color: white; /* Texte blanc */
    cursor: pointer; /* Change le curseur en main */
    padding: 15px; /* Espace interne */
    border-radius: 10px; /* Bords arrondis */
}

#myBtn:hover {
    background-color: #555; /* Couleur de fond au survol */
}



@media screen and (max-width: 420px) {
    .table-container {
        overflow-x: auto; /* Rend le tableau défilable horizontalement sur des écrans plus petits */
    }
}