<!DOCTYPE html>
<html>
<head>
    <title>Cryptocurrencies</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .vhigh { background-color: #5ec5c353; }
        .high { background-color: #89b87044; }
        .medium { background-color: #ffff0036; }
        .low { background-color: #8f53532f; }
        .vlow { background-color: #94478748; }
    </style>
    <script>
        function sortTable(column) {
            window.location.href = '/sort/' + column + '/' + (window.location.pathname.includes(column + '/desc') ? 'asc' : 'desc');
        }
    </script>
</head>
<body>
    <h1>Cryptocurrency Market Caps</h1>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th><button onclick="sortTable('market_cap')">M. Cap</button></th>
                <th><button onclick="sortTable('price')">$ Price</button></th>
                <th><button onclick="sortTable('change_1h')">1h %</button></th>
                <th><button onclick="sortTable('change_24h')">24h %</button></th>
                <th><button onclick="sortTable('change_7d')">7d %</button></th>
                <th><button onclick="sortTable('rate')">Rate</button></th>
            </tr>
        </thead>
        <tbody>
            {% for logo, name, rate, price, change_24h, change_1h, change_7d, market_cap, rate_class, change_24h_class, change_1h_class, change_7d_class in cryptos %}
                <tr>
                    <td><img src="{{ url_for('static', filename=logo) }}" width="20" height="20" /></td>
                    <td>{{ name }}</td>
                    <td class="market_cap-column">{{ market_cap if market_cap is not none else 'N/A' }} M</td>
                    <td class="price-column">
                        {% if price is not none and price is number %}
                            {{ "%.2f"|format(price) }}
                        {% else %}
                            No Price
                        {% endif %}
                    </td>                    <td class="change_1h-column {{ change_1h_class }}">{{ change_1h if change_1h is not none else 'N/A' }}</td>
                    <td class="change_24h-column {{ change_24h_class }}">{{ change_24h if change_24h is not none else 'N/A' }}</td>
                    <td class="change_7d-column {{ change_7d_class }}">{{ change_7d if change_7d is not none else 'N/A' }}</td>
                    <td class="{{ rate_class }}">{{ rate }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
